$color-primary: #222222;
$color-secondary: #00416A;
$color-tertiary: #fff;

$color-azul-1: #0E4BEF;
$color-azul-2: #1F75FE;
$color-azul-3: #091F92;
$color-azul-4: #436B95;
$color-azul-5: #ECF1F4
;





