.loader {
    border: 20px solid rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    margin: auto;
  }
  .display{
    display: none;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }